.btn {
  border-width: 2px;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Inter;
}
.display-1 {
  font-family: 'Inter', sans-serif;
  font-size: 2.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 3.25rem;
}
.display-2 {
  font-family: 'Inter', sans-serif;
  font-size: 4rem;
  line-height: 1.125;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-5 {
  font-family: 'Inter', sans-serif;
  font-size: 2.8rem;
  line-height: 1.14;
}
.display-5 > .mbr-iconfont {
  font-size: 3.5rem;
}
.display-7 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 2.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.08rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 1.82rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2.24rem;
    font-size: calc( 1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #272b2e !important;
}
.bg-success {
  background-color: #7dabab !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #ff9e08 !important;
}
.bg-danger {
  background-color: #bc5e4d !important;
}
.btn-primary {
  background: linear-gradient(140deg, #272b2e, #1b1e20 50%, #565f65) !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #272b2e !important;
  border-color: #272b2e !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #3e454a !important;
  border-color: #3e454a !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #3e454a !important;
  border-color: #3e454a !important;
}
.btn-secondary {
  background: linear-gradient(140deg, #f96e47, #f85b2e 50%, #fcbcaa) !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #f96e47 !important;
  border-color: #f96e47 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #fb9578 !important;
  border-color: #fb9578 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #fb9578 !important;
  border-color: #fb9578 !important;
}
.btn-info {
  background: linear-gradient(140deg, #ffffff, #f2f2f2 50%, #ffffff) !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success {
  background: linear-gradient(140deg, #7dabab, #6ea1a1 50%, #bbd3d3) !important;
}
.btn-success,
.btn-success:active {
  background-color: #7dabab !important;
  border-color: #7dabab !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #9cbfbf !important;
  border-color: #9cbfbf !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #9cbfbf !important;
  border-color: #9cbfbf !important;
}
.btn-warning {
  background: linear-gradient(140deg, #ff9e08, #ed9000 50%, #ffc66e) !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ff9e08 !important;
  border-color: #ff9e08 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffb23b !important;
  border-color: #ffb23b !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ffb23b !important;
  border-color: #ffb23b !important;
}
.btn-danger {
  background: linear-gradient(140deg, #bc5e4d, #ae5241 50%, #d8a197) !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #bc5e4d !important;
  border-color: #bc5e4d !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #ca8072 !important;
  border-color: #ca8072 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ca8072 !important;
  border-color: #ca8072 !important;
}
.btn-white {
  background: linear-gradient(140deg, #ffffff, #f2f2f2 50%, #ffffff) !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black {
  background: linear-gradient(140deg, #232323, #161616 50%, #565656) !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #272b2e;
  color: #272b2e;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #272b2e !important;
  border-color: #272b2e !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #f96e47;
  color: #f96e47;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #e23707 !important;
  background-color: transparent !important;
  border-color: #e23707 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f96e47 !important;
  border-color: #f96e47 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent !important;
  border-color: #d4d4d4 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #7dabab;
  color: #7dabab;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #527f7f !important;
  background-color: transparent !important;
  border-color: #527f7f !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #7dabab !important;
  border-color: #7dabab !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ff9e08;
  color: #ff9e08;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #b06b00 !important;
  background-color: transparent !important;
  border-color: #b06b00 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9e08 !important;
  border-color: #ff9e08 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #bc5e4d;
  color: #bc5e4d;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #823d31 !important;
  background-color: transparent !important;
  border-color: #823d31 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #bc5e4d !important;
  border-color: #bc5e4d !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #272b2e !important;
}
.text-secondary {
  color: #f96e47 !important;
}
.text-success {
  color: #7dabab !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #ff9e08 !important;
}
.text-danger {
  color: #bc5e4d !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #d33407 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #4c7676 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #a16200 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #76382d !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #272b2e;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #ff9e08;
}
.alert-danger {
  background-color: #bc5e4d;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #272b2e;
  border-color: #272b2e;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #272b2e;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #dadde0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #cadddd;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffeed4;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfb2aa;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 100px !important;
}
.form-control > .mbr-iconfont {
  font-size: 2.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #272b2e !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 2.25rem;
}
blockquote {
  border-color: #272b2e;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #272b2e;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #272b2e;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #272b2e;
  border-bottom-color: #272b2e;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #272b2e !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #f96e47 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23272b2e' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.mbr-section-btn .btn {
  padding: 14px 64px;
  border-radius: 3.5rem;
}
@media (max-width: 992px) {
  .mbr-section-btn .btn {
    padding: 14px;
  }
}
.mbr-section-btn .btn-primary,
.mbr-section-btn .btn-secondary,
.mbr-section-btn .btn-success,
.mbr-section-btn .btn-info,
.mbr-section-btn .btn-warning,
.mbr-section-btn .btn-danger,
.mbr-section-btn .btn-black,
.mbr-section-btn .btn-white {
  border: none !important;
}
.mbr-section-btn .btn-primary:hover,
.mbr-section-btn .btn-secondary:hover,
.mbr-section-btn .btn-success:hover,
.mbr-section-btn .btn-info:hover,
.mbr-section-btn .btn-warning:hover,
.mbr-section-btn .btn-danger:hover,
.mbr-section-btn .btn-black:hover,
.mbr-section-btn .btn-white:hover,
.mbr-section-btn .btn-primary:focus,
.mbr-section-btn .btn-secondary:focus,
.mbr-section-btn .btn-success:focus,
.mbr-section-btn .btn-info:focus,
.mbr-section-btn .btn-warning:focus,
.mbr-section-btn .btn-danger:focus,
.mbr-section-btn .btn-black:focus,
.mbr-section-btn .btn-white:focus {
  opacity: .75 !important;
}
.mbr-section-btn .btn-primary-outline:hover,
.mbr-section-btn .btn-secondary-outline:hover,
.mbr-section-btn .btn-success-outline:hover,
.mbr-section-btn .btn-info-outline:hover,
.mbr-section-btn .btn-warning-outline:hover,
.mbr-section-btn .btn-danger-outline:hover,
.mbr-section-btn .btn-black-outline:hover,
.mbr-section-btn .btn-white-outline:hover,
.mbr-section-btn .btn-primary-outline:focus,
.mbr-section-btn .btn-secondary-outline:focus,
.mbr-section-btn .btn-success-outline:focus,
.mbr-section-btn .btn-info-outline:focus,
.mbr-section-btn .btn-warning-outline:focus,
.mbr-section-btn .btn-danger-outline:focus,
.mbr-section-btn .btn-black-outline:focus,
.mbr-section-btn .btn-white-outline:focus {
  opacity: .6 !important;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper,
.item-wrap,
.item-content,
.form-wrapper,
.embla {
  border-radius: 1rem !important;
}
.item-tag {
  border-radius: 12.5rem;
}
.nav.nav-tabs .nav-link {
  border-radius: .5rem !important;
}
.form-control {
  border-radius: .5rem !important;
}
.cid-ugTZ7uVwc1 {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-ugTZ7uVwc1 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-ugTZ7uVwc1 .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-ugTZ7uVwc1 .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-ugTZ7uVwc1 .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
  border-radius: .5rem !important;
}
.cid-ugTZ7uVwc1 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-ugTZ7uVwc1 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-ugTZ7uVwc1 .navbar-nav {
  margin: auto;
  margin-left: 0;
  margin-left: auto;
  margin-right: 0;
}
.cid-ugTZ7uVwc1 .navbar-nav .nav-item {
  padding: 0 !important;
  transition: .3s all !important;
}
.cid-ugTZ7uVwc1 .navbar-nav .nav-item .nav-link {
  padding: 16px 28px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: .3s all !important;
}
@media (max-width: 1200px) {
  .cid-ugTZ7uVwc1 .navbar-nav .nav-item .nav-link {
    padding: 16px !important;
  }
}
.cid-ugTZ7uVwc1 .navbar-nav .nav-item .nav-link:hover {
  background-color: transparent;
}
.cid-ugTZ7uVwc1 .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
.cid-ugTZ7uVwc1 .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: .3s all !important;
}
.cid-ugTZ7uVwc1 .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-ugTZ7uVwc1 .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-ugTZ7uVwc1 .nav-link {
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  opacity: .6;
  font-weight: 400 !important;
}
.cid-ugTZ7uVwc1 .nav-link::before {
  content: '';
  position: absolute;
  left: 20px;
  width: 5px;
  height: 5px;
  background-color: #f96e47;
  border-radius: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1200px) {
  .cid-ugTZ7uVwc1 .nav-link::before {
    left: 8px;
  }
}
.cid-ugTZ7uVwc1 .nav-link:hover {
  opacity: 1;
}
.cid-ugTZ7uVwc1 .nav-link:hover::before {
  opacity: 1;
}
.cid-ugTZ7uVwc1 .navbar-logo {
  padding-right: 0;
  margin: 0 !important;
}
@media (max-width: 767px) {
  .cid-ugTZ7uVwc1 .navbar-logo {
    padding-left: 1rem;
  }
}
.cid-ugTZ7uVwc1 .navbar-caption {
  padding-left: 1rem;
  padding-right: .5rem;
  font-weight: 400;
}
.cid-ugTZ7uVwc1 .navbar-caption:hover,
.cid-ugTZ7uVwc1 .navbar-caption:focus {
  opacity: 1 !important;
}
@media (max-width: 767px) {
  .cid-ugTZ7uVwc1 .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-ugTZ7uVwc1 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: .3s all;
}
.cid-ugTZ7uVwc1 .menu-container {
  width: 100%;
  display: flex;
  min-height: 90px;
  padding: 16px 24px;
  flex-wrap: nowrap;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 12rem;
  margin: 1rem 80px 0;
  background-color: #1d4b82;
  box-shadow: none;
  position: relative;
  border: 1px solid #1d4b82;
}
@media (max-width: 992px) {
  .cid-ugTZ7uVwc1 .menu-container {
    padding: 16px;
  }
}
@media (max-width: 1200px) {
  .cid-ugTZ7uVwc1 .menu-container {
    margin: 1rem 40px 0;
  }
}
@media (max-width: 991px) {
  .cid-ugTZ7uVwc1 .menu-container {
    margin: 16px;
  }
}
.cid-ugTZ7uVwc1 .iconfont-wrapper {
  color: #272b2e !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
  transition: all 0.3s ease-in-out;
  opacity: .6;
}
.cid-ugTZ7uVwc1 .iconfont-wrapper:hover,
.cid-ugTZ7uVwc1 .iconfont-wrapper:focus {
  opacity: 1;
}
.cid-ugTZ7uVwc1 .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px !important;
  border-radius: 1.5rem;
  transition: .3s all !important;
  min-width: auto;
  background: #1d4b82;
}
.cid-ugTZ7uVwc1 .nav-item:focus,
.cid-ugTZ7uVwc1 .nav-link:focus {
  outline: none;
}
.cid-ugTZ7uVwc1 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-ugTZ7uVwc1 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-ugTZ7uVwc1 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-ugTZ7uVwc1 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ugTZ7uVwc1 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-ugTZ7uVwc1 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-ugTZ7uVwc1 .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-ugTZ7uVwc1 .navbar.opened {
  transition: all 0.3s;
}
.cid-ugTZ7uVwc1 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-ugTZ7uVwc1 .navbar .navbar-logo img {
  width: auto;
}
.cid-ugTZ7uVwc1 .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
@media (max-width: 992px) {
  .cid-ugTZ7uVwc1 .navbar .navbar-collapse {
    position: absolute;
  }
}
.cid-ugTZ7uVwc1 .navbar.collapsed {
  justify-content: center;
}
.cid-ugTZ7uVwc1 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-ugTZ7uVwc1 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-ugTZ7uVwc1 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-ugTZ7uVwc1 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-ugTZ7uVwc1 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-ugTZ7uVwc1 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-ugTZ7uVwc1 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-ugTZ7uVwc1 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-ugTZ7uVwc1 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-ugTZ7uVwc1 .navbar {
    min-height: 72px;
  }
  .cid-ugTZ7uVwc1 .navbar .navbar-logo img {
    height: 2rem !important;
  }
}
@media (max-width: 991px) {
  .cid-ugTZ7uVwc1 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-ugTZ7uVwc1 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-ugTZ7uVwc1 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-ugTZ7uVwc1 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-ugTZ7uVwc1 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-ugTZ7uVwc1 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-ugTZ7uVwc1 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-ugTZ7uVwc1 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-ugTZ7uVwc1 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-ugTZ7uVwc1 .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-ugTZ7uVwc1 .dropdown-item.active,
.cid-ugTZ7uVwc1 .dropdown-item:active {
  background-color: transparent;
}
.cid-ugTZ7uVwc1 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-ugTZ7uVwc1 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-ugTZ7uVwc1 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-ugTZ7uVwc1 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #1d4b82;
}
.cid-ugTZ7uVwc1 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-ugTZ7uVwc1 .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-ugTZ7uVwc1 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-ugTZ7uVwc1 .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-ugTZ7uVwc1 .navbar-buttons {
    text-align: left;
  }
}
.cid-ugTZ7uVwc1 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-ugTZ7uVwc1 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #f96e47;
}
.cid-ugTZ7uVwc1 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-ugTZ7uVwc1 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ugTZ7uVwc1 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ugTZ7uVwc1 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-ugTZ7uVwc1 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ugTZ7uVwc1 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-ugTZ7uVwc1 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-ugTZ7uVwc1 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ugTZ7uVwc1 .navbar-dropdown {
  padding: 0 1rem;
}
.cid-ugTZ7uVwc1 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-ugTZ7uVwc1 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 0;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-ugTZ7uVwc1 .icons-menu {
    justify-content: flex-start;
    margin-bottom: .5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-ugTZ7uVwc1 .navbar {
    height: 70px;
  }
  .cid-ugTZ7uVwc1 .navbar.opened {
    height: auto;
  }
  .cid-ugTZ7uVwc1 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-ugTZ7uVwc1 .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-ugTZ7uVwc1 .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-ugTZ7uVwc1 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-ugTZ7uVwc1 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: .3s all;
  transform: rotate(-90deg);
}
.cid-ugTZ7uVwc1 .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-ugTZ7uVwc1 .mbr-section-btn {
  margin: -0.6rem -0.6rem;
  width: auto;
  padding-left: 2rem;
}
@media (max-width: 1200px) {
  .cid-ugTZ7uVwc1 .mbr-section-btn {
    padding-left: 2rem;
  }
}
@media (max-width: 992px) {
  .cid-ugTZ7uVwc1 .mbr-section-btn {
    padding-left: 0;
  }
}
.cid-ugTZ7uVwc1 .mbr-section-btn .btn {
  justify-content: center;
  width: auto !important;
  min-width: 180px;
  padding: 14px 28px;
}
@media (max-width: 992px) {
  .cid-ugTZ7uVwc1 .mbr-section-btn .btn {
    padding: 14px;
  }
}
.cid-ugTZ7uVwc1 .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-ugTZ7uVwc1 .navbar-brand {
    margin-right: auto;
  }
  .cid-ugTZ7uVwc1 .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #1d4b82;
  }
  .cid-ugTZ7uVwc1 .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-ugTZ7uVwc1 .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-ugTZ7uVwc1 .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-ugTZ7uVwc1 .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-ugTZ7uVwc1 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-ugTZ7uVwc1 .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: .3s all;
    transform: rotate(0deg);
  }
  .cid-ugTZ7uVwc1 .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-ugTZ7uVwc1 .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-ugTZ7uVwc1 .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-ugTZ7uVwc1 .navbar-collapse {
    padding: 1rem;
  }
}
.cid-ugTZ7uVwc1 .navbar-brand,
.cid-ugTZ7uVwc1 .navbar-toggler,
.cid-ugTZ7uVwc1 .navbar-collapse {
  position: relative;
  z-index: 1;
}
.cid-ugTZ7Da8CL {
  padding-top: 12rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-ugTZ7Da8CL .mbr-fallback-image.disabled {
  display: none;
}
.cid-ugTZ7Da8CL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ugTZ7Da8CL .content-wrap {
  justify-content: flex-end;
}
.cid-ugTZ7Da8CL .content-wrap .card {
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-ugTZ7Da8CL .content-wrapper {
    margin-bottom: 32px;
  }
}
.cid-ugTZ7Da8CL .content-wrapper .mbr-section-title {
  margin-bottom: 24px;
}
.cid-ugTZ7Da8CL .content-wrapper .mbr-section-title span {
  background: linear-gradient(170deg, #f96e47, #fb9578);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}
.cid-ugTZ7Da8CL .content-wrapper .text-wrapper .mbr-text {
  width: 80%;
  display: inline-block;
  margin-bottom: 16px;
}
@media (max-width: 992px) {
  .cid-ugTZ7Da8CL .content-wrapper .text-wrapper .mbr-text {
    width: 100%;
  }
}
.cid-ugTZ7Da8CL .image-wrapper {
  padding: 0 120px;
}
@media (max-width: 1440px) {
  .cid-ugTZ7Da8CL .image-wrapper {
    padding: 0 60px;
  }
}
@media (max-width: 992px) {
  .cid-ugTZ7Da8CL .image-wrapper {
    padding: 0;
  }
}
.cid-ugTZ7Da8CL .image-wrapper img {
  height: 700px;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-ugTZ7Da8CL .image-wrapper img {
    height: 350px;
  }
}
.cid-ugTZ7Da8CL .mbr-section-title {
  color: #ffffff;
}
.cid-ugTZ7Da8CL .mbr-text,
.cid-ugTZ7Da8CL .text-wrapper {
  color: #272b2e;
}
.cid-ugTZ7Da8CL .mbr-section-title,
.cid-ugTZ7Da8CL .mbr-section-btn,
.cid-ugTZ7Da8CL .clients-wrapper {
  color: #272b2e;
}
.cid-ugTZ8IBj6F {
  padding-top: 3rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-ugTZ8IBj6F .mbr-fallback-image.disabled {
  display: none;
}
.cid-ugTZ8IBj6F .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ugTZ8IBj6F .content-wrapper {
  margin-bottom: 60px;
}
@media (max-width: 992px) {
  .cid-ugTZ8IBj6F .content-wrapper {
    margin-bottom: 32px;
  }
}
.cid-ugTZ8IBj6F .content-wrapper .mbr-desc {
  margin-bottom: 8px;
}
.cid-ugTZ8IBj6F .content-wrapper .mbr-section-title {
  margin-bottom: 0;
}
.cid-ugTZ8IBj6F .content-wrapper .mbr-section-title span {
  background: linear-gradient(170deg, #f96e47, #fb9578);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}
.cid-ugTZ8IBj6F .items-wrapper {
  justify-content: center;
  margin: 0 -8px;
}
.cid-ugTZ8IBj6F .item {
  padding: 0 8px;
  margin-bottom: 16px;
}
.cid-ugTZ8IBj6F .item .item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  height: 100%;
}
@media (max-width: 992px) {
  .cid-ugTZ8IBj6F .item .item-wrapper {
    padding: 20px 16px;
  }
}
.cid-ugTZ8IBj6F .item .item-wrapper .card-box .title-wrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .cid-ugTZ8IBj6F .item .item-wrapper .card-box .title-wrap {
    display: block;
    margin-bottom: 24px;
  }
}
.cid-ugTZ8IBj6F .item .item-wrapper .card-box .title-wrap .item-title {
  margin-bottom: 0;
  padding-right: 8px;
}
@media (max-width: 992px) {
  .cid-ugTZ8IBj6F .item .item-wrapper .card-box .title-wrap .item-title {
    padding-right: 0;
  }
}
@media (max-width: 992px) {
  .cid-ugTZ8IBj6F .item .item-wrapper .card-box .title-wrap .icon-wrapper {
    margin-bottom: 16px;
  }
}
.cid-ugTZ8IBj6F .item .item-wrapper .card-box .title-wrap .icon-wrapper .mbr-iconfont {
  display: inline-flex;
  font-size: 56px;
  background: linear-gradient(230deg, #272b2e, #6d7881);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}
.cid-ugTZ8IBj6F .item .item-wrapper .item-text {
  margin-bottom: 0;
}
.cid-ugTZ8IBj6F .item .card_1 {
  background: linear-gradient(315deg, #4b6787, #809ab8);
}
.cid-ugTZ8IBj6F .item .card_2 {
  background: linear-gradient(315deg, #7dabab, #bbd3d3);
}
.cid-ugTZ8IBj6F .item .card_3 {
  background: linear-gradient(315deg, #f96e47, #fcbcaa);
}
.cid-ugTZ8IBj6F .btn-wrapper {
  margin-top: -6%;
}
.cid-ugTZ8IBj6F .mbr-desc {
  color: #ffffff;
  text-align: center;
}
.cid-ugTZ8IBj6F .mbr-section-title {
  color: #272b2e;
  text-align: center;
}
.cid-ugTZ8IBj6F .item-title {
  color: #ffffff;
}
.cid-ugTZ8IBj6F .item-text {
  color: #ffffff;
}
.cid-ugTZ8IBj6F .mbr-section-title,
.cid-ugTZ8IBj6F .mbr-section-btn {
  color: #272b2e;
}
.cid-uwJBM4ImEL {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-uwJBM4ImEL .mbr-fallback-image.disabled {
  display: none;
}
.cid-uwJBM4ImEL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uwJBM4ImEL .items-wrapper {
  justify-content: flex-end;
}
.cid-uwJBM4ImEL .items-wrapper .card {
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-uwJBM4ImEL .image-wrapper {
    margin-bottom: 32px;
  }
}
.cid-uwJBM4ImEL .image-wrapper img {
  height: 720px;
  width: 720px;
  object-fit: cover;
  border-radius: 100% !important;
}
@media (max-width: 1700px) {
  .cid-uwJBM4ImEL .image-wrapper img {
    width: 600px;
    height: 600px;
  }
}
@media (max-width: 1440px) {
  .cid-uwJBM4ImEL .image-wrapper img {
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 1200px) {
  .cid-uwJBM4ImEL .image-wrapper img {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 768px) {
  .cid-uwJBM4ImEL .image-wrapper img {
    width: 260px;
    height: 260px;
  }
}
.cid-uwJBM4ImEL .content-wrapper {
  padding-left: 120px;
}
@media (max-width: 1200px) {
  .cid-uwJBM4ImEL .content-wrapper {
    padding-left: 60px;
  }
}
@media (max-width: 992px) {
  .cid-uwJBM4ImEL .content-wrapper {
    padding-left: 0;
  }
}
.cid-uwJBM4ImEL .content-wrapper .mbr-desc {
  margin-bottom: 8px;
}
.cid-uwJBM4ImEL .content-wrapper .mbr-section-title {
  margin-bottom: 24px;
}
.cid-uwJBM4ImEL .content-wrapper .mbr-text {
  margin-bottom: 24px;
}
.cid-uwJBM4ImEL .mbr-desc {
  color: #272b2e;
}
.cid-uwJBM4ImEL .mbr-section-title {
  color: #272b2e;
}
.cid-uwJBM4ImEL .mbr-text,
.cid-uwJBM4ImEL .text-wrapper {
  color: #272b2e;
}
.cid-ugTZiJPdJ5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #1d4b82;
}
.cid-ugTZiJPdJ5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-ugTZiJPdJ5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ugTZiJPdJ5 .content-wrapper {
  margin-bottom: 78px;
}
@media (max-width: 992px) {
  .cid-ugTZiJPdJ5 .content-wrapper {
    margin-bottom: 32px;
  }
}
.cid-ugTZiJPdJ5 .content-wrapper .mbr-section-title {
  margin-bottom: 24px;
}
.cid-ugTZiJPdJ5 .content-wrapper .text-wrapper .mbr-text {
  display: inline-block;
  width: 80%;
  margin-bottom: 16px;
}
@media (max-width: 992px) {
  .cid-ugTZiJPdJ5 .content-wrapper .text-wrapper .mbr-text {
    width: 100%;
  }
}
.cid-ugTZiJPdJ5 .social-wrapper {
  margin-bottom: 78px;
}
@media (max-width: 992px) {
  .cid-ugTZiJPdJ5 .social-wrapper {
    margin-bottom: 32px;
  }
}
.cid-ugTZiJPdJ5 .social-wrapper .mbr-desc {
  margin-bottom: 24px;
  opacity: .4;
}
.cid-ugTZiJPdJ5 .social-wrapper .social-wrap .soc-wrap {
  display: inline-flex;
  flex-wrap: wrap;
}
.cid-ugTZiJPdJ5 .social-wrapper .social-wrap .soc-wrap .soc-item a {
  display: block;
}
.cid-ugTZiJPdJ5 .social-wrapper .social-wrap .soc-wrap .soc-item a:hover .mbr-iconfont,
.cid-ugTZiJPdJ5 .social-wrapper .social-wrap .soc-wrap .soc-item a:hover .mbr-iconfont {
  color: #f96e47;
}
.cid-ugTZiJPdJ5 .social-wrapper .social-wrap .soc-wrap .soc-item a .mbr-iconfont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  min-width: 48px;
  color: #ffffff;
  background-color: #7dabab;
  font-size: 32px;
  border-radius: .5rem;
  transition: all 0.3s ease-in-out;
  margin: 0 8px 8px 0;
}
.cid-ugTZiJPdJ5 .social-wrapper .social-wrap .soc-wrap .soc-item:nth-child(2n) a .mbr-iconfont {
  background-color: #a672ff;
}
.cid-ugTZiJPdJ5 .list-wrapper {
  margin-bottom: 78px;
}
@media (max-width: 992px) {
  .cid-ugTZiJPdJ5 .list-wrapper {
    margin-bottom: 32px;
  }
}
.cid-ugTZiJPdJ5 .list-wrapper .mbr-desc {
  margin-bottom: 24px;
  opacity: .4;
}
.cid-ugTZiJPdJ5 .list-wrapper .list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.cid-ugTZiJPdJ5 .list-wrapper .list .item-wrap {
  margin-bottom: 24px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .cid-ugTZiJPdJ5 .list-wrapper .list .item-wrap {
    margin-bottom: 16px;
  }
}
.cid-ugTZiJPdJ5 .list-wrapper .list .item-wrap:last-child {
  margin-bottom: 0;
}
.cid-ugTZiJPdJ5 .list-wrapper .list .item-wrap:hover,
.cid-ugTZiJPdJ5 .list-wrapper .list .item-wrap:focus {
  color: #f96e47;
}
.cid-ugTZiJPdJ5 .border-wrap {
  height: 1px;
  background-color: #b9b9b9;
  margin: 78px 0 24px 0;
}
@media (max-width: 992px) {
  .cid-ugTZiJPdJ5 .border-wrap {
    margin: 0 0 16px 0;
  }
}
.cid-ugTZiJPdJ5 .mbr-copy {
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
}
.cid-ugTZiJPdJ5 .mbr-section-title {
  color: #ffffff;
}
.cid-ugTZiJPdJ5 .mbr-text {
  color: #ffffff;
}
.cid-ugTZiJPdJ5 .mbr-desc {
  color: #ffffff;
}
.cid-ugTZiJPdJ5 .list {
  color: #ffffff;
}
